<div class="message-box">
    <ion-item lines="none">
        <ion-label floating>Password</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-item lines="none">
        <ion-label floating>Re-type password</ion-label>
        <ion-input type="password" [(ngModel)]="passwordRetype"></ion-input>
    </ion-item>
    <div class="password-button-container">
        <button ion-button block 
        class="password-button"
        (click) = "onSetPassword()"
        [disabled]="(password == undefined || passwordRetype == undefined) || (password == '' || passwordRetype == '')">SET PASSWORD</button>
    </div>
</div>