carousel {
    .carousel-row {
        display: -webkit-inline-box !important;
        //margin-top: 20px;
        width: 100% !important;
        white-space: nowrap !important;
        overflow-x: scroll;
        overflow-y: auto;

    }

    .carousel-item {
        min-width: 35%;
        max-width: 35%;
        height: 100%;
        display: inline-block;
        float: none;
        clear: both;
    }
    
    .message-row {
        display: -webkit-inline-box !important;
        max-width: 100% !important;
        vertical-align: -webkit-baseline-middle;
    }

    .message-box {
        max-width: 100% !important;
    }

    .video-content-card {
        max-width: 100% !important;
    }
}
